body{
    background-color: NavajoWhite;
}
.sss3{
    margin: 100px;
    font-size: 50px;
    font-family: "Calibri";
}
.sss1{
    font-family: "Lucida Console";
    font-size: 100px;
    text-align: right;
}
.sss2{
    font-family: "Lucida Console";
    font-size: 30px;
    text-align: left;
}
.karl{
    margin: 100px;
    font-size: 50px;
    font-family: "Calibri";
}


