{% extends "test.html" %}
{% block title %}Построитель графиков{% endblock %}
{% block active %}
     <li><a href="{% url 'teacher_list'%}">Преподаватели</a></li>
     <li><a href="{% url 'pulpit_list'%}">Кафедры</a></li>
    <li class="active"><a href="{% url 'graph'%}">График</a></li>
{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
{#    <style>#}
{#        body{#}
{#            margin-left: 0px;#}
{#            margin-top: 0px;#}
{#            background-color: blanchedalmond;#}
{#        }#}
{#        #sobaka {#}
{#                 top: 82px; /* Расстояние от верхнего края */#}
{#    left: 170px; /* Расстояние от левого края */#}
{#    bottom: 0; right: 0;#}
{#        }#}
{##}
{#    </style>#}
</head>
{% block main_block %}

<h1 style="margin-left: 0px; margin-top: 0px; background-color: limegreen; font-family: Verdana; font-size: 25pt; text-align: left"; >Построитель графиков</h1>
<div style="margin-left: 10px">
    <div>Границы отображения</div>
    <input type="text" class="from" size ="10" value="-10" style="text-align: center"></input> | <input type="text" class="to" size ="10" value="10" style="text-align: center"></input><br>
    Введите функцию<br>
    <input type="text" class="fun" style="text-align: center"></input> <br>
    <label><input type="checkbox" id="iddd" />Осциллограф?</label><br>
    <button style="color: red; margin-top: 10px; height: 30px" id="graph_button">Построить график</button><br>
    <div class="plot1" style="width: 400px; height: 200px; margin-top: 5px"></div>
    <!--<div style=""></div><img src="http://s.picture-russia.ru/wpic/l/2/c/2ccaea7b983f9e5076b9b769b80ffe55.jpg" style="width: 400px; height: 550px; top: 50px; /* Расстояние от верхнего края */-->
    <!--left: 500px; position: absolute;/* Расстояние от левого края */-->
    <!--bottom: 0; right: 0"></div>-->
</div>

{% endblock %}
</html>