{% extends "test.html" %}
{% block title %}{% endblock %}
{% block active %}
     <li><a href="{% url 'teacher_list'%}">Преподаватели</a></li>
     <li class="active"><a href="{% url 'pulpit_list'%}">Кафедры</a></li>
{% endblock %}
{% block main_block %}
            <p style="font-size: 30px; margin-left: 10px"><b>{{ pulpit.name }}</b>-{{ pulpit.info }}</p>
            <div id="dedcription" style="margin-left: 10px">
                <p><b>Год основания:</b> {{ pulpit.year }}</p>
                <p><b>Заведующий: </b>{{ pulpit.zav }}</p>
{#                <p><b>Информация: </b>{{ pulpit.description }}</p>#}
            </div>
            <ul id="dropdown2" class="dropdown-content">
                {% for ded in teacher %}
                    <li><a href='/labs/add_membership/{{ ded.id }}/{{ pulpit.id }}'>{{ ded.second_name }} {{ ded.name }} {{ ded.third_name }}</a></li>
             {% endfor %}
            </ul>
  <a class="btn dropdown-button"style="margin-top: 20px" href="#!" data-activates="dropdown2">Добавить<i class="material-icons">add</i></a>
                <div class = pulpit_reviews>
                    {% for zap in membership %}
                        {% if zap.pulpit_id == pulpit.id %}
                        <div>

                            {% for ded in teacher %}
                                {% if ded.id == zap.teacher_id %}
                                    <ul class="collapsible popout" data-collapsible="accordion" style="width: 60%; margin-left: 1%">
                                        <li>
                                          <div class="collapsible-header">
                                                  <a href="/labs/teachers/{{ ded.id }}"><img src="{{ ded.img.url }}" class="circle responsive-img" style="height: 100px; width: 100px" ></a>
                                              <p style="font-size: 25px"><b>{{ ded.second_name }} {{ ded.name }} {{ ded.third_name }}</b></p></div>
                                          <div class="collapsible-body"><span>
                                              <p>Контактный телефон: {{ ded.phone }}</p>
                                                <p>e-mail: {{ ded.mail }}</p></span></div>
                                        </li>
                                    </ul>
                                        </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                    {% endfor %}



<footer class="page-footer" style="background-color: #8d48ff; position: absolute">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/labs/">Новости</a></li>
                  <li><a class="grey-text text-lighten-3" href="/labs/logout">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

{% endblock %}


