{% extends "test.html" %}
{% block title %}Кафедры{% endblock %}
{% block active %}
     <li><a href="{% url 'teacher_list'%}">Преподаватели</a></li>
     <li class="active"><a href="{% url 'pulpit_list'%}">Кафедры</a></li>
{% endblock %}
{% block main_block %}
{% for pulpit in pulpits %}
         <div class="col s12 m7" style="margin-left: 10px; width: 60%">
    <div class="card horizontal">
        <div class="card-content">
            <a href="/labs/pulpit/{{ pulpit.id }}"><p style="font-size: 25px"><b>{{ pulpit.name }}</b></p></a>
            <p style="font-size: 20px" ><b>{{ pulpit.info }}</b></p>
            <p style="font-size: 15px"><b>Год основания:</b> {{ pulpit.year }}</p>
        </div>
    </div>
  </div>
{%  empty %}
    <div class="main_block_elem">
        <h2>Не найдено ни одной кафедры :(</h2>
    </div>
{% endfor %}
    <div class="pagination">
        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for item in mass %}
                {% if item == page_obj.number %}
                    <li class="active"><a href="?page={{ item }}">{{ item}}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ item }}">{{ item}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}
