{% extends "test.html" %}
{% block title %}Преподаватели{% endblock %}
{% block active %}
     <li class="active"><a href="{% url 'teacher_list'%}">Преподаватели</a></li>
     <li><a href="{% url 'pulpit_list'%}">Кафедры</a></li>
{% endblock %}
{% block main_block %}
{% for teacher in teachers %}
      <div class="col s12 m7" style="margin: 10px; width: 40%;">
    <div class="card horizontal" style=" height: 160px">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6" style="height: 160px">
      </div>
      <div class="card-stacked">
        <div class="card-content" style="margin-top: 1px">
            <p style="font-size: 25px"><b>{{ teacher.second_name }} {{ teacher.name }} {{ teacher.third_name }}</b></p>
          <p>Контактный телефон: {{ teacher.phone }}</p>
            <p>e-mail: {{ teacher.mail }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
{%  empty %}
    <div class="main_block_elem">
        <h2>Не найдено ни одного препода</h2>
    </div>
{% endfor %}
{% endblock %}
