 <!DOCTYPE html>
  <html>
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'img/favicon.ico'%}">
        <title>{% block title %}МГТУ{% endblock %}</title>
         <style>
           body {
            background-image: url({% static 'img/BMSTU.jpg' %});
            background: no-repeat;
           }
          </style>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
{#<div class="row">#}
{#    <div class="col s12">#}
{#      <ul class="tabs">#}
{#        <li class="tab col s3"><a href="#test1">Test 1</a></li>#}
{#        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>#}
{#        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>#}
{#        <li class="tab col s3"><a href="#test4">Test 4</a></li>#}
{#      </ul>#}
{#    </div>#}
{#    <div id="test1" class="col s12">Test 1</div>#}
{#    <div id="test2" class="col s12">Test 2</div>#}
{#    <div id="test3" class="col s12">Test 3</div>#}
{#    <div id="test4" class="col s12">Test 4</div>#}
{#  </div>#}

  <nav style="position: fixed; z-index: 1030;">
        <div class="nav-wrapper" style="background-color: #8d48ff">
          <a href="{% url 'index' %}" class="brand-logo center">МГТУ им Н.Э.Баумана</a>
            {% if user.is_authenticated %}
                <a class="brand-logo right">
{#                    <img src={% static "img/icon.jpg" %} alt="" class="circle responsive-img" style="max-width: 12%; margin-top: 10px">#}
                    <a class="brand-logo right" style="margin-right: 70px">{{ user.username }}</a></a>
          <ul class="left hide-on-med-and-down">{% block active %}
              <li><a href="{% url 'teacher_list'%}">Преподаватели</a></li>
              <li><a href="{% url 'pulpit_list'%}">Кафедры</a></li>{% endblock %}
          </ul>

             <ul id="nav-mobile" class="right hide-on-med-and-down">

                 <li><a href="{% url 'logout' %}" >Выйти</a></li>
             </ul>
        </div>
            {% else %}
                             <ul id="nav-mobile" class="right hide-on-med-and-down">
                                 <li><a href="{% url 'authorization' %}">Войти</a></li>
                                 <li><a href="{% url 'registration_user' %}">Зарегистрироваться</a></li>
                             </ul>
            {% endif %}
  </nav>
<div style="padding-top: 70px">
{#<div class="blur">#}
{#        <img src="{% static 'img/BMSTU.jpg' %}" style="width: 100%; height: 90%; position: fixed; margin-top: -10px;">#}
{#        </div>#}
{% block main_block %}
    {% if not user.is_authenticated %}

         <p style="margin-left: 12px; font-size: 30px; color: black; margin-left: 70px">Зарегистрируйтесь или войдите в систему</p>
        {% else %}
        <img src="{% static 'img/BMSTU.jpg' %}" style="width: 100%; height: 130%; position: fixed; margin-top: -10px;">
    {% endif %}
{% endblock %}

  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text" style="margin: -5px">BMSTU</h5>
                <p class="grey-text text-lighten-4">105005, Москва, 2-я Бауманская ул., д. 5, стр. 1</p>
              </div>
              <div class="col l4 offset-l2 s12">
                  {% if user.is_authenticated %}
                    <ul class="list-inline">
                        <a class="j-padd-0"><a href="https://www.facebook.com/bmstu1830/"><img style="width: 30px; height: 30px" src="{% static 'img/fb.png'%}"></a>&nbsp;</a>
						<a class="j-padd-0"><a href="http://www.youtube.com/user/TVbaumanka"><img style="width: 30px; height: 30px" src="{% static 'img/youtube.png'%}"></a>&nbsp;</a>
                        <a class="j-padd-0"><a href="http://vk.com/pr.bmstu"><img style="width: 30px; height: 30px" src="{% static 'img/vk.png'%}"></a>&nbsp;</a>
					</ul>
                <ul>
                </ul>
                      <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="/labs/logout">Выйти</a>
            </div>
          </div>
                  {% else %}
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

    {% endif %}
      <!--Import jQuery before materialize.js-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
      {% load static %}
{#      <script type="text/javascript" src="{% js/jquery-3.2.1.js %}"></script>#}
      <script type="text/javascript" src={% static "js/materialize.min.js" %}> $(document).ready(function(){
    $('.collapsible').collapsible();
  });
      </script>
<script type="text/javascript" src={% static "js/materialize.js" %}>
        $(document).ready(function(){
      $('.parallax').parallax();
    });
      </script>
    <script type="text/javascript" src={% static "js/index.js" %}></script>

    </body>
  </html>